name: Terraform Apply PROD

on:
  push:
    branches: [ "prod" ]

jobs:
  apply:
    runs-on: ubuntu-latest
    environment: aws-prod
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS Credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: terraform/stacks/security/github-oidc-prod
        run: terraform init -input=false

      - name: Terraform Apply
        working-directory: terraform/stacks/security/github-oidc-prod
        run: terraform apply -auto-approve

