name: Terraform Apply DEV

on:
  push:
    branches: [ "main" ]
    paths:
      - "terraform/**"

jobs:
  apply-dev:
    runs-on: ubuntu-latest
    environment: aws-dev
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS Credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - run: terraform init -reconfigure -input=false
        working-directory: terraform/stacks/dev

      - run: terraform apply -auto-approve -input=false
        working-directory: terraform/stacks/dev
